.heading H1         { padding: 0; margin: 0; font-size: 16pt; font-weight:bold; font-family:courier new; }
.heading H2         { padding: 0; margin: 4; }
.heading H3         { padding: 0; margin: 4; font-size: 13pt; font-weight:normal; }
P                   { padding: 0; margin: 4; }
PRE                 { padding: 0; margin: 4; font-size: 10pt; font-weight:normal; color:#EEEEEE; }
TD                  { padding: 4; margin: 0; background-color: #C0D4EE}  /*CellPadding*/
table               { border-spacing: 1px; border: 1px solid black; width: 100%}     /*CellSpacing*/
UL                  { margin-bottom:0; }
.warning            { color:red; font-weight:bold; font-family:default }
.underline          { text-decoration: underline }
.expand A           { color:black; cursor:pointer; text-decoration: underline; font-weight:bold; font-size:20; font-family:default }
.expand A:hover     { color:#000099; cursor:pointer; text-decoration: underline; font-weight:bold; font-size:20; font-family:default }
A                   { color:#003366; font-family:courier new; font-size:16; text-decoration:none }
A:hover             { color:#0066AA; font-family:courier new; font-size:16; text-decoration:none }
H1                  { padding: 0; margin: 0; }
H2                  { padding: 0; margin: 0; }
.cmdlist            { border:1px solid #ccc; background:#EAEAEA; padding:20px; }
.content            { /*background-color:#B0C4DE;*/ }
.sidepanel          { background-color:#CFCFCF; }
.example            { background-color:#222222; }
body                { cursor: url('cursor.cur'), auto; }; /* Good meme */
